.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 375px) auto;
  align-items: center;
  justify-content: start;
  column-gap: 18px;
}

.profile__title {
  font-family: "Inter", sans-serif;
  font-size: 42px;
  line-height: 1.1;
  font-weight: 500;
  grid-area: title;
  margin: 0;
}

.profile__edit-button {
  background: transparent url(../images/edit-icon.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px solid #fff;
  transition: opacity 0.3s ease-in-out;
  margin-right: 10px;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__description {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  padding-top: 7px;
}

.profile__add-button {
  background: transparent url(../images/add-icon.svg) center no-repeat;
  height: 50px;
  width: 150px;
  margin-left: auto;
  border: 2px solid #fff;
  transition: opacity 0.3s ease-in-out;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 760px) {
  .profile__info {
    grid-template-columns: minmax(auto, 325px) auto;
    align-items: center;
    justify-content: start;
  }

  .profile__title {
    font-size: 35px;
  }

  .profile__add-button {
    width: 65px;
    transition: 0.5s ease;
  }
}

@media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
  }

  .profile__image {
    margin: 0;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 36px;
  }

  .profile__title {
    font-size: 22px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding-top: 14px;
  }

  .profile__add-button {
    width: 100%;
    max-width: 282px;
    display: block;
    margin: 0 auto;
  }
}
